@import 'tailwindcss' source(none);
@source '../**/*.{js,ts,jsx,tsx}';

@import 'tw-animate-css';

@layer components {
  .admin-layout h1.text-3xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  @media (min-width: 768px) {
    .admin-layout h1.text-3xl {
      font-size: 1.875rem;
      line-height: 2.25rem;
    }
  }
}
